text {
    font-family: Arial, Arial-Black;
    font-weight: bold;
}

text.small {
    font-size: 10px;
}
text.medium.small {
    font-size: 13px;
}
text,
text.medium {
    font-size: 20px;
}
text.large {
    font-size: 30px;
}

.continuous,
.dashed,
.dotted {
    fill: none;
}

.continuous.small {
    stroke-width: 0.85;
}
.continuous,
.continuous.medium {
    stroke-width: 1.5;
}
.continuous.large {
    stroke-width: 2.25;
}
.continuous.xlarge {
    stroke-width: 4;
}

.dashed.small {
    stroke-width: 1;
    stroke-dasharray: 5, 5;
}
.dashed,
.dashed.medium {
    stroke-width: 1.35;
    stroke-dasharray: 10, 10;
}
.dashed.large {
    stroke-width: 1.7;
    stroke-dasharray: 10, 10;
}

.dotted.small {
    stroke-width: 0.8;
    stroke-dasharray: 0.8, 0.8;
}
.dotted,
.dotted.medium {
    stroke-width: 1;
    stroke-dasharray: 1, 1;
}
.dotted.large {
    stroke-width: 1;
    stroke-dasharray: 2, 2;
}

/**** Themes ****/

svg .green.fill,
.theme-green .fill,
.theme-green .fill.dark {
    fill: #00a650;
}
svg .green.continuous,
svg .green.dashed,
svg .green.dotted,
.theme-green .continuous,
.theme-green .dashed,
.theme-green .dotted {
    stroke: #00a650;
}
svg .red.fill,
.theme-red .fill,
.theme-red .fill.dark {
    fill: #e63138;
}
svg .red.continuous,
svg .red.dashed,
svg .red.dotted,
.theme-red .continuous,
.theme-red .dashed,
.theme-red .dotted {
    stroke: #e63138;
}
svg .blue.fill,
.theme-blue .fill,
.theme-blue .fill.dark {
    fill: #31b3e6;
}
svg .blue.continuous,
svg .blue.dashed,
svg .blue.dotted,
.theme-blue .continuous,
.theme-blue .dashed,
.theme-blue .dotted {
    stroke: #31b3e6;
}
svg .black.fill,
.theme-black .fill,
.theme-black .fill.dark {
    fill: #1d1d1d;
}
svg .black.continuous,
svg .black.dashed,
svg .black.dotted,
.theme-black .continuous,
.theme-black .dashed,
.theme-black .dotted {
    stroke: #1d1d1d;
}

.fill.light {
    fill: #ffffff;
}

/**** areas ****/
.finish-gloss rect {
    fill: #8619a7;
}
.finish-matte rect {
    fill: #fc53a8;
}
.area.white rect {
    fill: #6dd6e2;
}
.area.features .red {
    text-decoration: line-through;
}
